@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
/*Fuente de Google Fonts Importada a CSS*/

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    gap: 5vh;

    align-items: center;
    justify-content: space-between;
    
    margin: 0;
    padding: 20;

    background: rgba(23,42,85,255);  
    background-size: cover;
    background-position: center;
    font-family: 'Lobster', cursive;
}

body::-webkit-scrollbar{
    width: 10px;
    background:rgba( 23, 42, 90);
}
body::-webkit-scrollbar-thumb{
    background:rgba(75, 97, 223, 0.801);
    border-radius:10pt;
}


/**************************************    HEADER/CABECERA    *********************/
.header{
    position: fixed;
    width: 85%;
    height: 80px;
    display: block;
    background-color: transparent;
    z-index:1000;

    margin: 0 auto;
    background-color: rgb(34, 59, 151);
    border-radius: 35px;

    animation: fadeInUp;
    animation-duration: 2s; 
}

.titulo_header{
    position: absolute;
    display: inline-block;
    
    margin-left: 18%;    
    
    font-size: 60px;
   
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-image: url(../Recursos/FondoTitulo.jpg);
    background-attachment: fixed;

    animation: fadeIn;
    animation-duration: 2s; 
}
.icon_mobile_menu{
    font-size: 0;
}
.titulo_header ul{
    position: absolute;
    display: none;
    min-width: 140px;
    padding:10px 20px;

    text-align:center;
    border-radius: 20px;
}
.titulo_header ul li{
    display: block;
    list-style:none;
    
    background: rgb(39, 70, 180);
    margin-bottom: 10px;
    
    border-radius: 20px;
}
.titulo_header ul li a{
    text-decoration: none;
    color: white;
}
.titulo_header ul li:hover{
    background: rgba( 23, 42, 110);
}
.titulo_header:hover > ul{
    display: block;
    background-color: rgb(34, 59, 151);
    -webkit-text-fill-color:white;
}


.menu_header{
    float:right;
    padding: 0;
    height:100%;
    display: table;
    margin-top: 16px;
    font-size: 20px;
}
.menu_header li{
    text-decoration: none;
    display: inline-block;
    text-align:center;
    color:white;
    list-style:none;
}
.menu_header li a{
    display: inline-block;
    padding:10px 20px;
    
    text-align:center;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
.menu_header li a:hover{
    background: rgba( 23, 42, 110);
}

            /* SUBMENUS */

.menu_header > li{
    float: left;
}
.menu_header li ul{
    position: absolute;
    top: 65px;
    display: none;

    min-width: 140px;
    padding:10px 20px;
    
    text-align:center;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
.menu_header li ul li{
    display: block;
    
    padding: 5px;
    border-radius: 20px;
}
.menu_header li ul li:hover{
    background: rgba( 23, 42, 110);
}
.menu_header li:hover > ul{
    display: block;
    background-color: rgb(34, 59, 151);
}


/**************************************    TITULO    *********************/
.titulo{
    flex: 1;
    width: 100%;
    text-align:center;
   
    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-image: url(../Recursos/FondoTitulo.jpg);
    background-attachment: fixed;

    font-family: 'Lobster', cursive; /* Fuente Importada */
    font-size: 75px;
    mask-border-width: 20px;
    border-radius: 20px;
    border-color: black;
}
.titulo h1{
    padding-top: 90px;
    margin: auto;
    font-size: 75px;
}
.titulo h4{
    margin: 65px;
    font-size: 50px;
}

/**************************************    LINEAS HORIZONTALES    *********************/
.linea_custom{
    width: 62% !important;
    height: 10px!important;

    background: transparent!important;
    -webkit-background-composite: text!important;
    -webkit-text-fill-color: transparent!important;
    background-image: url(../Recursos/FondoTitulo.jpg)!important;
    background-attachment: fixed!important;

    border-radius: 20px!important;
    border-color: black!important;
}


/**************************************    FOTO HOOVER    *********************/
.presentacion{
    flex: 1;

    width: 100%;
    margin:auto;
    
    font-size: 40px;
    color:white;
    margin-top: 30px;
}
.presentacion figure{
    float: left;
    position:relative;
    height: 640px;
    width: 640px;
    overflow: hidden;
    border-radius: 100px;
    margin-right: 10px;
}
.presentacion figure img{
    transition: all 700ms ease-out;
}
.presentacion figure:hover > img{
    transform: scale(1.1);
}
.presentacion figure .capa{
    position: absolute;
    top:0;
    width: 640px;
    height: 640px;
    background: rgba(0,103,123,0.7);
    opacity: 0;
    visibility: hidden;
    text-align:center;
    transition: all 700ms ease-out;
    cursor: pointer;
}
.presentacion figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.presentacion figure .capa p{
    line-height: 1.5;
    transition: all 700ms ease-out;
    font-size: 30px;

    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-image: url(../Recursos/FondoTitulo.jpg);
    background-attachment: fixed;
}
.presentacion figure .capa h3{
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 120px;
    transition: all 700ms ease-out;
    margin-top: 40px;

    -webkit-background-clip: text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-image: url(../Recursos/FondoTitulo.jpg);
    background-attachment: fixed;
}
.presentacion figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}


/**************************************    TEXTO DE HOVER    *********************/
.resumen{
    font-size: 4vh;
    color:white;
    text-align: center;
    list-style-position:inside;
}
.resumen p{
    text-align: center;
}


/**************************************    BANNER DE SKILLS    *********************/
.banner{
    flex: 1;
    width: 90%;

    border: 6px solid;
    border-color: rgba( 23, 42, 110);
    border-radius: 100px;

    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    color:white;
    text-align: center;

    background: transparent;
    background-image: url(../Recursos/fondo.jpg);
    background-attachment: fixed;
}

.Skills{
    display: flex;
    flex-flow:row, wrap;
    justify-content: space-evenly;
    align-items:center;
    width: 100%;

    margin-top: 10vh;
    margin-bottom: 10vh;
}

.Marketing{
    height: 50%;

    background-color: rgba(5,7,12, 0.50);
    border-radius: 15%;
    border: 10px solid;
    border-color: transparent;
}
.Diseño_Grafico{
    height: 50%;

    background-color: rgba(5,7,12, 0.50);
    border-radius: 15%;
    border: 10px solid;
    border-color: transparent;
}
.Social_Media{
    height: 50%;

    background-color: rgba(5,7,12, 0.50);
    border-radius: 15%;
    border: 10px solid;
    border-color: transparent;
}

/**************************************    CARROUSEL BOOTSTRAP    *********************/
.carousel {
    flex: 1;
    width:640px;
    height:700px;
}


/**************************************    GALERIA    *********************/
.galeria{
    flex: 1;    
    
    border-top: 60px;
    border-bottom: 60px;
    margin: 20px solid rgba( 23, 42, 110);
    border-radius: 20px;
    
    box-shadow: 0 0 30px 25px rgba(0,0,0,0.50);
}

.galeria_imagenes{
    display: grid;
    grid-template-columns: repeat(3,auto);
}

.galeria_imagenes img{
    position: relative;

    border-radius: 60px;
    padding: 10px;
    background:transparent;
    
    width: 600px;
    height: 600px;
    transition: 800ms;
}

.galeria_imagenes img:hover{
    transform: scale(1.05);
    z-index: 100;
}


/**************************************    BIOGRAFIA    *********************/
.biografia{
    flex: 1;
    float: left;
    color: white;
}
.biografia img{
    margin-right: 60px;

    border-right: 6px solid lightblue;
    border-top: 6px solid lightblue;
    border-bottom: 6px solid lightblue;
    box-shadow: 0 0 30px 25px rgba(0,0,0,0.50);
}
.biografia p{
    font-size: 40px;
}
.biografia h5{
    text-align: center;
    font-size: 30px;
}


/**************************************    Banner Invento Shop    *********************/
.card{
    border-radius: 20px;
    background: rgb(44, 104, 214);
    color: white;
    height: 400px;
}
 .boton_shop {
    margin:auto;
}

/**************************************    Boton de inicio    *********************/
.boton_top{
    position: fixed;

    bottom: 8vh;
    right: 0;

    transform: translate(-20px,-20px);

    width: 55px;
    height: 55px;
    line-height: 55px;
    
    border-radius: 50px;
    background:rgb(156, 156, 156);
    color: white;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
    z-index: 100;
}
.boton_top:hover{
    text-decoration: underline;
    background: white;
    color: rgb(156, 156, 156);
}
/**************************************    Boton de WhatsApp   *********************/
.boton_whatsapp{
    position: fixed;
    
    bottom: 0;
    right: 0;

    transform: translate(-20px,-20px);
    
    width: 55px;
    height: 55px;
    line-height: 55px;

    border-radius: 50px;
    background: green;
    color: white;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 2);
    z-index: 100;
}
.boton_whatsapp:hover{
    text-decoration: none;
    color: green;
    background: white;
}


/**************************************    FOOTER   *********************/
.footer{
    flex: 1;

    display: flex;
    
    flex-flow: row, wrap;
    justify-content: space-around;
    align-items:center;

    width: 100%;
    height: 400px;

    font-size: 25px;
    color:white;

    border-top: 6px solid;
    border-color: rgba( 23, 42, 110);

    background: transparent;
    background-image: url(../Recursos/fondo.jpg);
    background-attachment: fixed;
}

.footer .footer_contacto{
    margin-left: auto;
    text-align: center;
    background-color: rgba(5,7,12, 0.50);
    border-radius: 15%;
    padding-left: 10px;
    padding-right: 10px;
}

.footer .iconos_redes{
    margin-left: auto;

    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

    background: rgba(5,7,12, 0.50);
    border-radius: 15%;
    border-radius: 10px solid transparent;
}

.footer .iconos_redes ul{
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.footer .iconos_redes li{
    display: inline-block;
    list-style: none;
    text-align: left;
    font-size: 70px;
}

.footer .iconos_redes li a{
    width: 50px;
    height: 50px;
    color: white;
}

.footer .mapa{
    margin-left: auto;
}


/**************************************    RESPONSIVE MOBILE   *********************/
/* HEADER RESPONSIVE: */

/*Al llegar a 1420px se Re-centra el H1*/
@media screen and (max-width: 1420px){
    .titulo_header{
    margin-left: 10%;
    }
}
/*Al llegar a 1300px se esconde el H1*/
@media screen and (max-width: 1300px){
    .titulo_header{
    display: none;
    }
}
/*Al llegar a 992px se Genera la version MOBILE*/
@media screen and (max-width: 992px){

    /*Header en H1*/
    .menu_header{
        display: none;
    }
    .header{
        width: 70%;
    }
    .titulo_header{
        display: inline-block;
        margin-left: 20%;
    }
    /* Hago que aparezca el icono indicativo de menu Mobile */
    .icon_mobile_menu{
        font-size: 40px;
    }


    /* Carrousel */
    .carousel {
        width: 100%;
        height:500px;
    }

    /* Banner de Skills */
    .Skills{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;
        width: 100%;
    }
    .Marketing{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .Diseño_Grafico{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }
    .Social_Media{
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    /*Galeria de Imagenes*/
    .galeria_imagenes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .galeria_imagenes img{
        width: 550px;
        height: 550px;
    }

    /*FOOTER*/
    .footer{
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        align-content: center;
        flex-direction: column;
        align-items: center; 
        justify-items: center;
        justify-content: center;
        gap: 2vh;
    }
    .footer .footer_contacto{
        margin-left: 0;
        margin-top: 4vh;
    }
    .footer .iconos_redes{
        margin-left: 0;
        margin-bottom: 2vh;
    }
    .mapa{
        display: none;
    }
    /*Botones Wsp/Top_Page Desactivados en Mobile*/
    .Top_Button{
        display: none;
    }
    .whatsapp{
        display: none;
    }
}

/*En los 1800px la Galeria de Imagenes se pone en modo vertical por temas de espacio*/
@media screen and (max-width: 1800px){
     .galeria_imagenes{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/*Re-Centrar el H1 en menores resoluciones y reacomodar galeria/presentacion*/
@media screen and (max-width: 740px){
    .titulo_header{
        margin-left: 10%;
    }
    .galeria_imagenes img{
        width: 400px;
        height: 400px;
    }
    .biografia img{
        margin-right: 0;
        box-shadow: none;
    }
    .texto_bio{
        float: left;
    }
    .presentacion figure{
        height: 500px;
        width: 100%;     
    }
    .presentacion figure img{
        max-height:100%; max-width:100%;
        height: 550px;
    }
    .galeria{
        width: 80%;
    }
    .galeria_imagenes img{
        width: 100%;
        height: 100%;
    }
}


/*Ajustar Galeria*/
@media screen and (max-width: 600px) {
    .galeria_imagenes {
      flex: 100%;
      max-width: 100%;
    }
    .card{
        height: 600px;
    }
}

@media screen and (max-width: 600px){
    .header{
        width: 100%;
    }
    .titulo_header{
        margin-left: 15%;
    }
}
@media screen and (max-width: 450px){
    .titulo_header{
        margin-left: 0;
    }
    .card{
        height: 800px;
    }


}
/*Ajustar Foto Hover Inicial */
@media screen and (max-width: 1400px){
    .presentacion figure{
        position: relative; 
        left: 50%;
        transform: translateX(-50%);
    }
    .resumen{
        float: left;
    }

   .presentacion figure .capa{
        background: rgba(170, 54, 43, 0);
    }
    .presentacion figure .capa h3{
        display: none;
    }
    .presentacion figure .capa p{
        display: none;
    }
}

@media screen and (max-width: 450px){
    .biografia{
        display: none;
    }    
}
@media screen and (max-width: 495px){
    .titulo_header{
        margin-left: 0;
        margin-top: 10px;
        font-size: 45px;
    }
}
@media screen and (max-width: 280px){
    .titulo_header{
        margin-top: 15px;
        font-size: 40px;
    }

    #boton_tienda{
    width:100%;    
    }
}
@media screen and (max-width: 255px){
    .card{
        height: 900px;
    }
}
@media screen and (max-width: 240px){
    .card{
        height: 1100px;
    }
}